.wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: calc(100vh - 135px);
    overflow: auto;
    flex-direction: column;

    @media only screen and (max-width: 800px) {
        height: 100vh;
    }

    @media only screen and (max-width: 600px) {
        padding-top: 5rem;
    }

    @media only screen and (max-width: 500px) {
        padding-top: 10rem;
    }

    @media only screen and (max-width: 400px) {
        padding-top: 22rem;
    }
}

.box {
    width: 70%;

    @media only screen and (max-width: 500px) {
        width: 80%;
        text-align: center;
    }
}

.bandMembers {
    & > p {
        margin-bottom: 0.5rem;
    }

    @media only screen and (max-width: 500px) {
        text-align: left;
    }
}