.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 2rem 0;

  @media only screen and (min-width: 600px) {
    height: calc(100vh - 135px);
    margin: 0;
  }
}

.box {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;

  @media only screen and (min-width: 600px) {
    width: 68%;
  }
}

.bandMembers {
  margin-top: 0.8rem;
  align-self: flex-start;

  & > p {
    margin-bottom: 0.7rem;
  }
}
