.sideDrawer {
    height: 100%;
    background-color: #000;
    box-shadow: 2px 0px 7px rgba(0,0,0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(100%);
    transition: all 0.5s ease-out;
}

.open {
    transform: translateX(0);
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 59, 0.4);
    z-index: 100;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper {
    width: 100%;
    border: 2px solid brown;
}

.link {
    text-decoration: none;
    color: #fff;
    font-size: 1.7em;
    letter-spacing: 3px;
}

.icons {
    width: 100px;
}